h1 {
    color: lime;
}
h1 {
    text-align: center;
}
h2 {
   color: #46c7c7;
}
h2 {
    text-align: center;
}
p {
  text-align: center;
}
h3 {
    color: #c24641;
}
h3 {
    text-align: center;
}
button {
    display: block;
    margin: auto;
    font-size: 20px;
}
img {
    border: 7px solid #20f169;
    border-radius: 100%;
}
backround-color {
    color: #9e7bff
}